page-book-info {
	ion-content > div.scroll-content > h1 {
		margin: 0;
		margin-top: 16px;
	}
	ion-content > div.scroll-content > div.info {
		border-bottom: solid 1px #dedede;
	}
	ion-content > div.scroll-content > div.info > span {
		margin-left: 16px;
		font-size: 1.3em;
	}
	ion-content > div.scroll-content > div.info > button {
		float: right;
	}
	ion-content > div.scroll-content > div.info > span > ion-icon {
		color: #777;
	}
	ion-content > div.scroll-content > div.info > span > span.available {
		color: darkgreen;
	}
	ion-content > div.scroll-content > div.info > span > span.not.available {
		color: darkred;
	}
	ion-content > div.scroll-content  > div {
		padding-top: 16px;
		width: 100%;
		clear: both;
		overflow: hidden;
	}
	ion-content > div.scroll-content  > div > figure {
		text-align: center;
		margin: 0;
		clear: both;
	}
	ion-content > div.scroll-content > div > figure > img {
		width: 286px;
		border-radius: 5px;
	}
	ion-content > div.scroll-content > div > ion-item {
		width: auto;
		padding-right: 16px;
	}
	ion-content > div.scroll-content > div > ion-item ion-label label {
		font-weight: bold;
	}
	ion-content > div.scroll-content > div > ion-item ul > li {
		overflow: hidden;
	}
	ion-content > div.scroll-content > div > ion-item ul > li > span {
		display: inline-block;
		margin-top: 11px;
	}
	ion-content > div.scroll-content > div > ion-item ul > li > ion-icon {
		float: right;
		cursor: pointer;
	}
	ion-content > div.scroll-content > div > ion-item.summary {
		width: 100%;
		clear: both;
	}
	ion-content > div.scroll-content > div > ion-item.summary ion-label div {
		white-space: initial;
	}
	ion-content > div.scroll-content > div > ion-item.summary ion-label div > p {
		color: map-get($colors, dark);
		font-size: 1.8rem;
	}
	ion-content > div.scroll-content > div > ion-item.summary ion-label div > hr {
		background-color: transparent !important;
	}
	ion-content > div.scroll-content > div.qr {
		padding: 16px;
	}
	ion-content > div.scroll-content > div.qr > div > span,
	ion-content > div.scroll-content > div.qr > div > div {
		text-align: center;
	}
	ion-content > div.scroll-content > div.qr > div > span:first-child {
		font-weight: bold;
	}
	ion-content > div.scroll-content > div.qr > div > span:last-child {
		display: inline-block;
		width: 100%;
		clear: both;
	}
	@media only screen and (min-width: 768px) {
		ion-content > div.scroll-content  > div > figure,
		ion-content > div.scroll-content > div.qr  > div {
			float: left;
			clear: none;
		}
		ion-content > div.scroll-content  > div > figure {
			padding-left: 16px;
		}
		ion-content > div.scroll-content > div.qr > div > span {
			text-align: left;
		}
	}
	ion-list.libraries {
		border-bottom: 1px solid #dedede;
	}
	ion-list.libraries > ion-list-header {
		padding-top: 16px;
	}
	ion-list.libraries > ion-list-header > div > div > ion-label.label {
		text-transform: uppercase;
		font-weight: bold;
		color: #000;
	}
	ion-list.libraries > ion-item > ion-avatar > img {
		height: 60px;
		width: 60px;
	}
	ion-list.libraries > ion-item > div > div > ion-label.label > p {
		display: block;
		width: 100%;
	}
	ion-list.libraries > ion-item > div > div > ion-label.label > p:first-of-type {
		margin: 5px 0;
	}
	ion-list.libraries > ion-item > div > div > ion-label.label > p:last-of-type > label {
		display: inline-block;
		line-height: 34px;
		vertical-align: middle;
	}
	ion-list.libraries > ion-item > div > div > ion-label.label > p:last-of-type > label > span {
		font-weight: bold;
	}
	ion-list.libraries > ion-item > div > div > ion-label.label > p:last-of-type > label.available > span {
		color: darkgreen;
	}
	ion-list.libraries > ion-item > div > div > ion-label.label > p:last-of-type > label.not.available > span {
		color: red;
	}
	ion-list.libraries > ion-item > div > div > ion-label.label > p:last-of-type > span {
		display: block;
		float: right;
	}
}