page-add-book {
	ion-content > div.scroll-content > div:first-of-type {
		margin-bottom: 16px;
	}
	div.info > ion-thumbnail {
		float: left;
	}
	div.info > ion-thumbnail > img {
		max-height: 120px;
		border-radius: 5px;
		margin: 0 16px;
	}
	div.info > h2 {
		margin: 1.6rem 0;
	}
	div.info > div {
		padding-bottom: 5px;
	}
	div.stocks {
		border-top: solid 1px #ccc;
		margin-top: 16px;
	}
	ion-list.current {
		margin-top: 30px;
	}
	ion-list.current > ion-list-header {
		margin-bottom: 0;
		border-top: none;
		text-transform: uppercase;
		font-weight: bold;
		color: #000;
	}
	ion-list.current ion-label > span {
		float: right;
		min-width: 40px;
		text-align: center;
	}
	ion-list.current ion-label > span.available {
		color: green;
	}
}